
*{
  font-family: monospace;
}

nav{
    background-color: rgba(150, 208, 204, 0.811);
    height: 500px;
    
}

.video-bg{
  height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
    z-index: 0;
  }




 

.section{
    
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;

}


.icon-section{
  color: white;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid ;
}

.icon-section:hover{
  color:  rgba(231,216,187,1);
  padding: 20px;
  border-radius: 50%;
  border: 2px solid ;
  
}




  .pannello{
    background-color: white;
    z-index: 2;
  }

   .card{
    width: 20rem;
    height: 30rem;
  }

  .btn{
    border: 2px solid rgba(154, 192, 204, 0.948);
    border-radius: 50%;
  }

  .btn:hover{
    background-color: rgba(154, 192, 204, 0.948);
  } 
